.sec6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.sec6 > :nth-child(2){
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.menubar {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menubar li a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: rgb(67, 84, 88);
  transition: color 0.3s;
}

/* Underline effect */
.menubar li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #4b40cc;
  transition: width 0.3s ease;
}

.menubar li a:hover {
  color: #4b40cc;
}

/* Animate underline on hover */
.menubar li a:hover::after {
  width: 100%;
}

@media(max-width:767px){
    .sec6 > :nth-child(1){
        gap: 30px;
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;

    }

    .sec6 > :nth-child(2){
        font-size: 10px;
    }
}